@dark-red: #C12026;
@bright-red: #e74c3c;
@purple-gray: #473F46;
@blue-black: #13151C;
@dark-brown: #5D5C55;
@medium-brown: #AAAAAA;
@light-cream-light: #ecf0f1;
@light-cream-dark: #EBEBEB;
@light-border: #ecf0f1;
@light-text: #C3BDBA;
@blue: #3498db;
@dark-blue: #2980b9;
@green: #2ecc71;
@dark-gray: #333;
@main-dark: #333;

@font-face {
    font-family: 'icons';
    src: url('fonts/icons.eot'); /* IE9 Compat Modes */
    src: url('fonts/icons.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/icons.woff') format('woff'), /* Modern Browsers */
         url('fonts/icons.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/icons.svg#svgFontName') format('svg'); /* Legacy iOS */
    }

.cbp-vimenu {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: @dark-red;
}
 
.cbp-vimenu li a {
    display: block;
    text-indent: -500em;
    height: 4em!important;
    width: 4em;
    line-height: 5em;
    text-align: center;
    color: #999;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}

.cbp-vimenu li {
    margin: 0!important;
}

.cbp-vimenu li #main-logo {
    height: 40px!important;
}
.cbp-vimenu li a:hover{
    background: @bright-red;
    color: #fff;
}
 
/* class for current item */
.cbp-vimenu li.cbp-vicurrent a {
    background: #af151a;
    color: white!important;
}
 
.cbp-vimenu li a:before {
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    text-indent: 0em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.4em;
    -webkit-font-smoothing: antialiased;
}
 
.icon-search:before {
    content: "1";
}
 
.icon-archive:before {
    content: "2";
}
 
.icon-download:before {
    content: "4";
}
 
.icon-location:before {
    content: "8";
}
 
.icon-images:before {
    content: "7";
}
 
.icon-pencil:before {
    content: "0";
}

.trip-icons {
    margin-left: 10px;
    font-family: 'icons', sans-serif;
    letter-spacing: 15px;
    font-size: 20px;
    ul {
        li {
            float: left;
        }
    }
}

.delayone {
    -webkit-animation-delay: 1s;
}

.delaytwo {
    -webkit-animation-delay: 1.5s;
}

.delaythree {
    -webkit-animation-delay: 2s;
}

.ones {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    -m-animation-duration: 1s;
}

.twos {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    -m-animation-duration: 2s;
}

.threes {
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    -m-animation-duration: 3s;
}

.map-canvas { height: 400px; }

.btn {
    background: white;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    font-family: 'Open Sans', sans-serif!important;
    color: @purple-gray;
    font-weight: 400;
    letter-spacing: 1px;
    border: 1px solid @light-cream-dark;
    .active {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        background: #eee;
        &hover {
            background: #ccc;
        }
    }
    &:hover {
        text-decoration: none;
        color: @bright-red;
    }
}

.btn:active, .btn.active {
    box-shadow: none;
    color: @dark-red!important;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    background: @bright-red;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
    border-color: rgba(166, 9, 17, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(166, 9, 17, 0.6);
    outline: 0 none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

body {
    background: @light-cream-light;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    overflow-x: hidden;
    color: @main-dark!important;
}

#top-header {
    #user-settings-nav {
        margin-top: 12px;
        margin-right: 10px;
    }
    a {
        color: @dark-brown;
    }
}

#profile-thumb {
    a {
        img {
            width: 100%;
        }
    }
}

#topbar {
    background: @dark-red;
    z-index: 200;
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
}

#sidebar {
    background: @dark-red;
    z-index: 300;
    position: fixed;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    a {
        text-decoration: none;
        color: white;
        .active {
            opacity: 1;
        }
        &:hover {
            text-decoration: none;
            opacity: .9;
        }
    }
    ul {
        li {
            margin-top: 5px;
            margin-bottom: 10px;
            margin-left: 7px;
        }
    }
    img {
        width: 35px;
    }
}

#main-container {
    margin-left: 50px;
    position: absolute;
    width: 100%;
    height: 100%;
}

#main-inner-container {
    position: relative;
    width: 100%;
}

#cover-photo {
    #cover-image {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    position: relative;
    background-size: 100%;
    width: 100%;
    height: 550px;
    #hotel-search-bg {
        background: url('http://tripadvisorwatch.files.wordpress.com/2012/01/hotel.jpg');
        position: absolute;
        width: 75%;
        height: 94px;
        left: 10%;
        top: 40%;
        z-index: 400;
        background-position-y: 40%;
        background-position-x: 10%;
        -webkit-filter: blur(20px);
        -moz-filter: blur(20px);
        -o-filter: blur(20px);
        -ms-filter: blur(20px);
        filter: blur(20px);
        opacity: 0.8;
    }
    #login-bar {
        position: absolute;
        opacity: .85;
        z-index: 500;
        right: 65px;
        top: 20px;
        #login-info {
            position: absolute;
            background: white;
            width: 320px;
            height: 200px;
            top: -6px;
            left: -331px;
            h3 {
                font-weight: 200;
                margin-left: 10px;
            }
            h3:last-child {
                margin-top: 0;
            }
            ul {
                padding: 10px;
                li {
                    font-size: 12px;
                }
            }
            #login-info-box {
                width: 100%;
                position: relative;
                background: #ffffff;
                border: 1px solid #eee;
                #login-close {
                    position: absolute;
                    right: 10px;
                    top: 5px;
                    color: #aaa;
                    &:hover {
                        color: #ccc;
                        text-decoration: none;
                    }
                }
            }
            #login-info-box:after, .arrow_box:before {
                left: 100%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            #login-info-box:after {
                border-color: rgba(255, 255, 255, 0);
                border-left-color: #ffffff;
                border-width: 10px;
                top: 10%;
                margin-top: -20px;
            }
            #login-info-box:before {
                border-color: rgba(238, 238, 238, 0);
                border-left-color: #eee;
                border-width: 11px;
                top: 150%;
                margin-top: -21px;
            }
        }
        #fb {
            font-size: 11px;
            position: relative;
            color: white;
            padding: 8px 10px;
            padding-left: 0;
            font-weight: 800;
            letter-spacing: 1px;
            background: rgba(59, 89, 153, .8);
            &:hover {
                text-decoration: none;
                background: rgba(59, 89, 153, 1);
            }
            i {
                padding: 8px 15px;
                background: rgba(59, 89, 153, .7);
                margin-right: 7px;
            }
        }
        #login {
            font-size: 11px;
            position: relative;
            color: white;
            padding: 8px 10px;
            padding-left: 10;
            font-weight: 800;
            letter-spacing: 1px;
            background: @dark-red;
            margin-left: 5px;
            &:hover {
                text-decoration: none;
                background: @bright-red;
            }
        }

    }
    #hotel-search {
        position: absolute;
        z-index: 401;
        width: 75%;
        height: 94px;
        left: 10%;
        top: 45%;
        background: -moz-linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.3) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.6)), color-stop(100%,rgba(255,255,255,0.3))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.3) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.3) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.3) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.3) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ffffff', endColorstr='#4dffffff',GradientType=0 ); /* IE6-9 */
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
        -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
        -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
        form {
            font-family: 'Open Sans', sans-serif;
            padding: 15px;
            position: absolute;
            box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1);
            width: 100%;
            height: 100%;
            .tooltip-inner {
                width: 600px;
                font-size: 14px;
                font-weight: 400;
                padding: 15px;
                border-radius: 0;
                -moz-border-radius: 0;
                -webkit-border-radius: 0;
                -ms-border-radius: 0;
            }
            .dropdown-menu {
                width: 40%;
                -moz-border-radius: 0;
                -webkit-border-radius: 0;
                -ms-border-radius: 0;
            }
            .increment {
                position: relative;
                .icon-plus {
                    color: @light-text;
                    position: absolute;
                    top: -33%;
                    right: 15px;
                    z-index: 220;
                }
                .icon-minus {
                    color: @light-text;
                    position: absolute;
                    top: 12px;
                    right: 15px;
                    z-index: 220;
                }
            }
            #hotel-destination-search {
                    width: 41%;
                    margin-right: 5px;
                }
                #hotel-checkin-date {
                    width: 13%;
                    margin-right: 5px;
                }
                #hotel-checkout-date {
                    width: 13%;
                    margin-right: 5px;
                }
                #hotel-room-total {
                    width: 8%;
                    margin-right: 5px;
                    text-align: center;
                }
                #hotel-person-total {
                    width: 8%;
                    margin-right: 5px;
                    text-align: center;
                }
            input, #hotel-search-btn {
                font-size: 20px;
                padding: 16px;
                background: rgba(255, 255, 255, .9);
                border: transparent;
                box-shadow: 0 0 0 1px rgba(255,255,255,0.1);
            }
            input:focus {
                background: rgba(243,242,242,.9);
            }
            input:hover {
                background: rgba(243,242,242,.8);
            }
            #hotel-search-btn {
                background: @dark-red;
                color: white;
                width: 12.8%;
                border: trasparent;
                box-shadow:none;
                margin-top: -5px;
                &:hover {
                    background: @bright-red;
                }
            }
        }
    }
}

#explore-nav {
    background: white;
    border-bottom: 3px solid @light-cream-dark;
    height: 60px;
    z-index: 150;
    margin-left: -50px;
    width: 100%;
    position: relative;
    h3 {
        font-family: 'Open Sans', sans-serif;
        color: @bright-red;
        float: left;
        font-weight: 400;
        font-size: 28px;
        margin: 14px 15px;
        margin-left: 84px;
    }
    ul {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        position: absolute;
        margin-top: 20px;
        margin-right: 20px;
        right: 0;
        a {
            &:hover {
                background: #F4F4F4;
            }
        }
        .sort-by-label {
            font-weight: 400;
            color: @medium-brown;
            margin-right: 5px;
        }
        li {
            float: left;
            a {
                color: @dark-brown;
                padding: 20px 5px;
                margin-left: 5px;
            }
            a:hover {
                color: @dark-brown;
                text-decoration: none;
            }
        }
    }
    .filter-menu {
        display: none;
        background: rgba(255,255,255,9);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
        margin: 10px;
        padding: 0 10px;
        height: 455px;
        position: absolute;
        z-index: 120;
        width: 350px;
        right: 0.7%;
        top: 50px;
        h4 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            margin-top: 22px;
            margin-left: 5px;
            margin-bottom: 10px;
        }
        ul {
            margin: 0;
            width: 100%;
            li {   
                width: 47%;
                margin: 5px;
                margin-bottom: -3px;
                .btn {
                    font-size: 11px;
                    font-weight: 600;
                    text-align: left;
                    width: 100%;
                    border: none;
                    &:hover {
                        background: #F4F4F4;
                    }
                }
                i {
                    margin-right: 5px;
                }
            }
            .blu-btn {
                background: @blue;
                color: white;
                border: none;
                &:hover {
                    background: @dark-blue;
                }
            }
            .filter-btns {
                margin: 13px;
                margin-top: 17px;
                font-size: 11px;
                font-weight: 600;
            }
        }
        .filter-check {
            color: #ddd;
            margin-top: 2px;
            float: right;
            &:hover {
                color: #ccc;
            }
        }
        .active {
            .color {
                color: @green;
            }
        }
    }
}

#tiles {
    margin: 1%;
    margin-top: 16px;
    width: 96.7%;
    position: relative;
    .tile {
        position: relative;
        margin: 0.65%;
        float: left;
        width: 24.2%;
        background: white;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
        -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
        -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
        img {
            width: 100%;
        }
        .offer-tag {
            position: absolute;
            font-size: 100px;
            z-index: 100;
            top: -25px;
            left: -5px;        
            color: @blue;
            .offer-percent {
                font-family: 'Open Sans', sans-serif;
                color: white;
                position: absolute;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                left: 27px;
                top: 38px;
                font-size: 12px;
                line-height: 20px;
                .number {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 22px;
                }
            }
        }
        .tile-body {
            margin: 20px 15px;
            h4 {
                font-family: 'Open Sans', sans-serif;
                font-size: 20px;
                font-weight: 400;
                margin-bottom: 5px;
                a {
                    color: @purple-gray;
                    &:hover {
                        text-decoration: none;
                        color: @bright-red;
                    }
                }
            }
            .hotel-location {
                color: #ccc;
                font-weight: 100;
                margin-top: 5px;
            }
            .facilities {
                color: #C3BDBA;
                margin: 20px 0;
                ul {
                    li {
                        float: left;
                        margin-right: 10px;
                    }
                }
            }
            .standard {
                clear: left;
                float: left;
            }
            .standard li {
                float: left;
                width: 20px;
                margin-right: 5px;
            }
            .rooms-left {
                font-size: 12px;
                letter-spacing: 1px;
                color: @light-text;
                font-weight: 100;
                float: right;
            }
        }
        .tile-footer {
            margin: 10px 15px;
            padding-bottom: 25px;
            margin-bottom: 0;
            .price {
                font-family: 'Open Sans', sans-serif;
                color: @bright-red;
                font-size: 26px;
                font-weight: 100;
                &:hover {
                    text-decoration: none;
                    color: @purple-gray;
                }
            }
            .view-tile {
                font-family: 'Open Sans', sans-serif;
                color: @purple-gray;
                font-weight: 400;
                letter-spacing: 1px;
                border: 1px solid @light-cream-dark;
                padding: 7px 15px;
                &:hover {
                    text-decoration: none;
                    color: @bright-red;
                }
            }
        }
    }
}

.room-max-number {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-right: 3px;
}

.clear {
    clear: both;
}

#top-header {
    width: 97%;
    background: #E1E3E4;
    border-bottom: 1px solid #D9DCDD;
    height: 40px;
    a {
        padding: 10px;
    } 
}

#summary-div {
    margin-bottom: 20px;
}

#place-summary-container {
    font-size: 12px;
    float: right;
    margin-top: 10px;
    width: 50%;
    #facilities-div {
        h3 {
            font-size: 18px;
            font-weight: 400;
            margin: 0;
            margin-top: 5px;
            clear: right;
            margin-bottom: 10px;
        }
        ul {
            clear: left;
            margin-left: -10px;
            margin-bottom: 15px;
            li {
                float: left;
            }
        }
    }
}

#place-mini-gallery {
    margin-bottom: 15px;
    ul {
        li {
            width: 11.11%;
            float: left;
            border-top: 1px solid #000;
            img {
                width: 100%;
                height: auto;
            }
        }
        li:last-child {
            margin: 0;
        }
        li:hover {

        }
    }
}

#description-stats {
    margin-top: 30px;
    p {
        font-size: 12px;
        width: 20%;
        line-height: 22px;
        float: left;
        margin-left: 15px;
        margin-right: 50px;
        strong {
            font-weight: 600;
        }
    }
}

.circle-sign {
    border: 3px solid #4E4E4E;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    font-size: 24px;
    text-align: center;
    padding-top: 13px;
    small {
        font-size: 12px;
    }
}
#place-container {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    float: left;
    width: 77%;
    background: white;
    border: 1px solid @light-cream-dark;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    .page-headings {
        margin-top: 0!important;
        margin-bottom: 12px!important;
    }
    #photo-albums-container {
        .album-tile {
            img {
                width: 100%;
                margin-bottom: 20px;
            }
            padding: 10px;
            .album-tile-inner {
                padding: 15px;
                border: 1px solid #EBEBEB;
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
    #place-cover-photo {
        height: 450px;
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
        }
        .country {
            z-index: 10;
            color: white;
            position: absolute;
            left: 23px;
            bottom: 20px;
        }
        .country.address {
            left: 23px;
            bottom: 0px;
        }
        #place-name {
            z-index: 10;
            color: white;
            font-weight: 200;
            position: absolute;
            bottom: 40px;
            left: 20px;
            text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
        }
        #place-stars {
            z-index: 10;
            position: absolute;
            right: 20px;
            bottom: 10px;
            li {
                width: 23px;
                margin-left: 5px;
                float: left;
                color: white;
            }
        }
        .bottom-dark-fade {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            height: 125px;
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 1%, rgba(0,0,0,0.75) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0.01)), color-stop(100%,rgba(0,0,0,0.75))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.75) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.75) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.75) 100%); /* IE10+ */
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.75) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
        }
    }
    #place-nav {
        margin-bottom: 5px;
    }
    #place-header {
        font-family: 'Open Sans', sans-serif;
        border-bottom: 1px solid @light-cream-dark;
        padding: 20px;
        padding-bottom: 20px;
        padding-top: 10px;
        #place-detail-container {
            width: 50%;
        }
        #place-header-detail-container {
            width: 49%;
        }
        .place-head-question {
            line-height: 2;
        }
        .review-score {
            background: @green;
            font-weight: 100;
            font-size: 24px;
            padding: 0px 10px;
            color: white;
            float: left;
        }
        h1 {
            font-family: 'Open Sans', sans-serif;
            font-size: 32px;
            font-weight: 200;
            margin: 0;
            margin-left: 45px;
            width: 100%;
            .fifty {
                width: 50%;
            }
        }
        .country {
            color: #808080;
            font-weight: 100;
            font-size: 13px;
            letter-spacing: 1px;
            margin-left: 2px;
            margin-top: 20px;
        }
        #main-price {
            color: @bright-red;
            font-size: 30px;
            font-weight: 200;
            margin-right: 20px;
            margin-top: 9px;
        }
        #place-stars {
            margin-top: 15px;
            height: 20px;
            ul {
                width: 100%;
                li {
                    float: left;
                    margin-right: 5px;
                    img {
                        width: 20px;
                    }
                }
            }
        }
        #stat-btns {
            width: 100%;
            height: 50px;
            margin-top: 25px;
            ul {
                li {
                    float: left;
                    a {
                        padding: 10px 15px;
                    }
                }
            }
        }
        #stat-numbers {
            width: 100%;
            height: 25px;
            font-size: 16px;
            margin-top: 15px;
            margin-bottom: 5px;
            font-weight: 100;
            ul {
                li {
                    float: left;
                    margin-right: 15px;
                }
            }
            strong {
                font-weight: 600;
                margin-right: 5px;
            }
        }
    }
    #place-body {
        padding-left: 24px;
        h3 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
            letter-spacing: 1px;
            font-size: 28px;
            margin-top: 25px;
            margin-bottom: 24px;
        }
        #rooms-container {
            #rooms-inner-container {
                ul {
                    li {
                        background: #F5F7F8;
                        border: 1px solid #ECF0F1;
                        float: left!important;
                        width: 24%;
                        margin-right: 1%;
                        margin-bottom: 1%;
                        .room-body {
                            padding: 10px;
                            .btn {
                                width: 100%;
                            }
                        }
                        ul {
                            li {
                                width: 100%;
                                border: none;
                                font-size: 12px;
                                margin-bottom: 5px;
                            }
                        }
                        h5, h4 {
                            font-weight: 400;
                        }
                        .room-max, .room-facilities {
                            font-family: 'icons', sans-serif;
                            letter-spacing: 1px;
                        }
                        .room-price {
                            font-size: 20px;
                            font-weight: 200;
                            color: @bright-red;
                        }
                        .room-main-img-inner {
                            position: relative;
                            margin-bottom: 40px;
                        }
                        .room-main-img {
                            width: 100%;
                        }
                        .room-mini-gallery {
                            position: absolute;
                            left: 0;
                            bottom: -40px;
                            width: 100%;
                            li {
                                list-style: none;
                                float: left;
                                width: 25%;
                                padding: 0;
                                margin: 0;
                                img {
                                    width: 100%;
                                    height: 50px;
                                }
                            }
                        }
                    }
                }
            }
        }
        padding-bottom: 20px;
        #tag-div {
            ul {
                margin-bottom: 10px;
                margin-top: 35px;
                li {
                    margin-right: 7px;
                    float: left;
                    a {
                        font-size: 12px;
                        color: @main-dark;
                        padding: 7px;
                        background: @light-border;
                        &:hover {
                            background: #ecf0f1;
                            text-decoration: none;
                            color: @bright-red;
                        }   
                    }
                }
            }
        }
    }
    #room-tiles {
        ul {
            li {
                position: relative;
                float: left;
                width: 50%;
                padding: 2px;
                padding-top: 0;
                padding-bottom: 4px;
                img {
                    width: 100%;
                }
                h3 {
                    position: absolute;
                    font-size: 18px;
                    color: white;
                    font-weight: 400;
                    left: 1%;
                    bottom: -20px;
                    width: 98.7%;
                    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
                    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 1%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0.01)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.7) 100%); /* IE10+ */
                    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.7) 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
                    padding: 20px 7px;
                    padding-left: 10px;
                    padding-bottom: 15px;
                }
                .room-tile-price {
                    display: block;
                    color: white;
                    font-weight: 400;
                    font-size: 14px;
                    position: absolute;
                    right: 2px;
                    padding: 3px 10px;
                    top: 10px;
                    background: rgba(0, 0, 0, .7);
                    text-shadow: 0px 0px 15px black;
                }
            }
        }
    }
    .left {
        float: left;
        nav {
            padding-bottom: 13px;
            border-bottom: 2px solid @light-cream-light;
            ul {
                margin-top: 15px;
                margin-bottom: 0;
                li {
                    float: left;
                    margin-right: 30px;
                }
            }
            .btn {
                border: none;
                font-size: 14px;
                font-weight: 400;
            }
            .btn:first-child {
                padding-left: 0;
            }
            a {
                color: @dark-red;
                &:hover {
                    color: @purple-gray;
                }
            }
        }
    }
    .right {
        float: right;
    }
    .seventy {
        width: 98%;
    }
    .thirty {
        width: 30%;
    }
    #hotel-stats {
        background: #F5F7F8;
        border: 1px solid #ECF0F1;
        h3 {
            margin-top: 0;
        }
        padding: 20px;
        padding-bottom: 5px;
        margin-bottom: 20px;
            a {
                color: @blue;
            }
            .table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
                border: none;
            }
            .table-bordered {
                border: none;
            }
            table {
                margin-bottom: 0;
                tr {
                    border-bottom: 1px solid #ECF0F1;
                    &:last-child {
                        border-bottom: 0;
                    }
                }
                tr td {
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
                tr td:first-child {
                    font-weight: 600;
                    width: 40%;
                }
                tr:first-child td {
                    padding-top: 0px;
                }
            }
        }
    .recommended-block {
        margin: -8px;
        ul {
            li {
                margin-bottom: 15px;
                a {
                    font-size: 18px;
                    font-weight: 200;
                    color: @dark-red;
                    float: left;
                    width: 45%;
                }
                img {
                    width: 125px;
                    height: 90px;
                    margin-right: 15px;
                    float: left;
                }
                .recommended-stars {
                    float: left;
                    .mini-stars {
                        margin-top: 10px;
                        float: left;
                        li {
                            float: left;
                            img {
                                width: 15px;
                                height: 15px;
                                margin-right: 3px;
                            }
                        }
                    }
                    .recommended-price {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

#recommended-aside {
    width: 18.5%;
    .recommended-block {
        padding: 0px 20px;
        h3 {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 20px;
        }
        .recommended-item {
            margin-bottom: 20px;
            box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
            -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
            -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
            img {
                width: 100%;
                height: 144px;
                overflow: hidden;
            }
            .recommended-item-body {
                padding: 15px;
                padding-bottom: 10px;
                background: white;
                a {
                    font-size: 20px;
                    font-weight: 100;
                    margin-bottom: 17px;
                }
                .price {
                    font-size: 18px;
                    font-weight: 100;
                    margin-top: 12px;
                }
                .place-stars {
                    width: 84%;
                    margin-top: 10px;
                    li {
                        float: left;
                        width: 20px;
                        img {
                            width: 17px;
                            height: 17px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {

    #tiles {
        width: 100%;
        .tile {
            width: 90.7%;
            margin: 1%;
            margin-top: 4px;
            margin-left: 3.65%;
            margin-right: 2%;
        }
    }

    #explore-nav {
        margin-left: 0px;
        ul {
            li {
                font-size: 10px;
                margin-top: 3px;
            }
        }
    }

    #main-container {
        margin-left: 0%;
        margin-top: 45px;
    }

    #cover-photo {
        height: 350px;
        #hotel-search {
            width: 96%;
            height: 170px;
            left: 2%;
            top: 26%;
            form {
                #hotel-destination-search {
                    width: 99%;
                    margin-right: 5px;
                }
                #hotel-checkin-date {
                        width: 24%;
                        margin-right: 5px;
                    }
                    #hotel-checkout-date {
                        width: 25%;
                        margin-right: 5px;
                    }
                    #hotel-room-total {
                        width: 20%;
                        margin-right: 5px;
                        text-align: center;
                    }
                    #hotel-person-total {
                        width: 20%;
                        margin-right: 5px;
                        text-align: center;
                    }
                input, #hotel-search-btn {
                    padding: 10px;
                    font-size: 13px;
                    margin-bottom: 10px;
                }
                #hotel-search-btn {
                    width: 99%;
                    box-shadow: none;
                    border: none;
                    margin-top: 4px;
                }
            }
        }
    }

    #topbar {
        height: 45px;
        display: block;
    }

    #sidebar {
        display: none;
    }

    #explore-nav h3 {
        font-size: 22px;
        margin: 18px 15px;
    }

    #top-header {
        width: 100%;
    }

    #place-container {
        margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 15px;
        width: 92%;
        #place-cover-photo {
            height: 200px;
        }
    }

    #place-summary-container {
        width: 100%;
    }

    #place-header {
        #place-header-detail-container {
            width: 100%!important;
        }
    }

    #place-mini-gallery {
        ul {
            li {
                width: 20%;
            }
        }
    }
}

@media (min-width: 480px) and (max-width: 594px) {

    #main-container {
        margin-left: 0;
        margin-top: 35px;
    }

    #explore-nav {
        margin-left: 0px;
    }

    #topbar {
        height: 35px;
        display: block;
    }

    #tiles {
        width: 100%;
        margin: 2%;
        margin-top: 1.7%;
        .tile {
            width: 43.6%;
            margin: 2%;
            margin-left: 2.4%;
            margin-right: 2%;
        }
    }

    #sidebar {
        display: none;
    }

    #explore-nav h3 {
        font-size: 24px;
        margin: 16px 15px;
    }

    #cover-photo {
        height: 350px;
        #hotel-search {
            width: 96%;
            height: 170px;
            left: 2%;
            top: 26%;
            form {
                #hotel-destination-search {
                    width: 99%;
                    margin-right: 5px;
                }
                #hotel-checkin-date {
                        width: 27%;
                        margin-right: 5px;
                    }
                    #hotel-checkout-date {
                        width: 26%;
                        margin-right: 5px;
                    }
                    #hotel-room-total {
                        width: 20%;
                        margin-right: 5px;
                        text-align: center;
                    }
                    #hotel-person-total {
                        width: 20%;
                        margin-right: 5px;
                        text-align: center;
                    }
                input, #hotel-search-btn {
                    padding: 10px;
                    font-size: 13px;
                    margin-bottom: 10px;
                }
                #hotel-search-btn {
                    width: 99%;
                    box-shadow: none;
                    border: none;
                    margin-top: 4px;
                }
            }
        }
    }
    #place-container {
        width: 95.5%;
    }

    #place-body {
        .seventy {
        width: 98%;
        }
        .thirty {
            width: 30%;
        }
    }
}

@media (min-width: 594px) and (max-width: 768px) {

    #main-container {
        margin-left: 0;
        margin-top: 40px;
    }

    #explore-nav {
        margin-left: 0px;
    }

    #topbar {

        display: block;
    }

    #tiles {
        width: 100%;
        margin: 1.5%;
        margin-left: 2%;
        .tile {
            width: 45.1%;
            margin: 1.5%;
        }
    }

    #sidebar {
        display: none;
    }

    #cover-photo {
        height: 350px;
    }

    #explore-nav h3 {
        font-size: 24px;
        margin: 16px 15px;
    }

    #cover-photo {
        height: 400px;
        #hotel-search {
            width: 96%;
            height: 90px;
            left: 2%;
            top: 45%;
            form {
                #hotel-destination-search {
                    width: 37%;
                    margin-right: 5px;
                }
                input, #hotel-search-btn {
                    font-size: 12px;
                    margin-top: 2px;
                }
            }
        }
    }

    #top-header {
        width: 100%;
    }

    #place-container {
        width: 93.5%;
    }

    #place-body {
        .seventy {
        width: 98%;
        }
        .thirty {
            width: 30%;
        }
    }
}

@media (min-width: 698px) and (max-width: 980px) {

    #main-container {
        margin-left: 0;
        margin-top: 40px;
    }

    #top-header {
        width: 100%;
    }

    #explore-nav {
        margin-left: 0px;
    }

    #topbar {
        display: block;
    }

    #sidebar {
        display: none;
    }

    #tiles {
        width: 100%;
        margin: 1.5%;
        .tile {
            width: 30.2%;
            margin: 1.2%;
        }
    }

    #cover-photo {
        height: 400px;
        #hotel-search {
            width: 96%;
            height: 94px;
            left: 2%;
            top: 45%;
            form {
                #hotel-destination-search {
                    width: 39%;
                    margin-right: 5px;
                }
                input, #hotel-search-btn {
                    font-size: 14px;
                    margin-top: 2px;
                }
            }
        }
    }

    #explore-nav h3 {
        font-size: 26px;
        margin: 16px 15px;
    }

    #place-container {
        width: 95.5%;
    }

    #place-body {
        .seventy {
        width: 98%;
        }
        .thirty {
            width: 30%;
        }
    }
}

@media (min-width:980px) and (max-width:1090px) {
    #tiles {
        margin: 1.2%;
        .tile {
            width: 30%;
            margin: 1%;
        }
    }
    #cover-photo {
        #hotel-search {
            width: 92.4%;
            height: 94px;
            left: 1%;
            top: 45%;
            form {
                #hotel-destination-search {
                    width: 40%;
                    margin-right: 5px;
                }
                input, #hotel-search-btn {
                    font-size: 18px;
                }
            }
        }
    }
    #place-container {
        width: 91.4%;
        #place-body {
            h3 {
                font-size: 22px;
                margin-bottom: 20px;
                margin-top: 28px;
            }
        }
        #place-summary-container {
            #place-mini-gallery {
                ul {
                    li {
                            width: 14.4%;
                            height: 60px;
                            img {
                                width: 100%;
                                height: 60px;
                            }
                        }
                    }
                }
            }
        .half-page-small {
            float: left;
            width: 100%;
        }
        .half-page-small {
            width: 100%;
        }
        .recommended-block {
            ul {
                width: 90%;
                li {
                    img {
                        width: 100px;
                        height: 85px;
                    }
                    a {
                        font-size: 14px;
                        width: 60%;
                    }
                    .recommended-stars {
                        width: 50%;
                        ul {
                            height: 23px;
                        }
                    }
                }
            }
        }
        .seventy {
            width: 98%;
        }
        .thirty {
            width: 35%;
        }
    }
}

@media (min-width:1090px) and (max-width:1280px) {
    #tiles {
        margin: 1%;
        .tile {
            width: 22.4%;
            margin: 1%;
            .tile-body {
                h4 {
                    font-size: 16px;
                    margin-bottom: 0;
                }
                .facilities {
                    margin: 15px 0;
                }
                .standard {
                    li {
                        width: 14px;
                    }
                }
                .rooms-left { 
                    font-size: 10px;
                }
            }
            .tile-footer {
                    margin-top: 5px;
                    .view-tile {
                        padding: 3px 15px;
                }
                    .price {
                    font-size: 18px;
                    margin-top: 2px;
                }
            }
        }
    }
    #place-container {
        width: 76%;
        #place-body {
            h3 {
                font-size: 22px;
                margin-bottom: 20px;
                margin-top: 28px;
            }
        }
        .half-page-small {
            width: 58%;
            float: left;
        }
        .half-page {
            width: 40%;
            float: right;
        }
        #place-summary-container {
            #place-mini-gallery {
                ul {
                    li {
                        width: 14.6%;
                        height: 85px;
                        img {
                            width: 100%;
                            height: 65px;
                        }
                    }
                }
            }
            #facilities-div {
                ul {
                    li {
                        font-size: 14px;
                    }
                }
            }
        }
        .recommended-block {
            ul {
                width: 90%;
                li {
                    img {
                        width: 100px;
                        height: 85px;
                    }
                    a {
                        font-size: 14px;
                        width: 57%;
                    }
                    .recommended-stars {
                        width: 50%;
                        ul {
                            height: 23px;
                        }
                    }
                }
            }
        }
    }
    #cover-photo {
        #hotel-search {
            width: 91%;
            height: 94px;
            left: 1.7%;
            top: 45%;
        }
    }
}

@media (min-width:1281px) {
    #cover-photo {
        #hotel-search {
            width: 81%;
            height: 94px;
            left: 7%;
            top: 45%;
            form {
                font-family: 'Open Sans', sans-serif;
                padding: 15px;
                position: absolute;
                box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1);
                width: 100%;
                height: 100%;
                .tooltip-inner {
                    width: 600px;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 15px;
                    border-radius: 0;
                    -moz-border-radius: 0;
                    -webkit-border-radius: 0;
                    -ms-border-radius: 0;
                }
                .dropdown-menu {
                    width: 40%;
                    -moz-border-radius: 0;
                    -webkit-border-radius: 0;
                    -ms-border-radius: 0;
                }
                .increment {
                    position: relative;
                    .icon-plus {
                        color: @light-text;
                        position: absolute;
                        top: -35%;
                        right: 15px;
                        z-index: 220;
                    }
                    .icon-minus {
                        color: @light-text;
                        position: absolute;
                        top: 18px;
                        right: 15px;
                        z-index: 220;
                    }
                }
                #hotel-destination-search {
                        width: 41%;
                        margin-right: 5px;
                    }
                    #hotel-checkin-date {
                        width: 13%;
                        margin-right: 5px;
                    }
                    #hotel-checkout-date {
                        width: 13%;
                        margin-right: 5px;
                    }
                    #hotel-room-total {
                        width: 8%;
                        margin-right: 5px;
                        text-align: center;
                    }
                    #hotel-person-total {
                        width: 8%;
                        margin-right: 5px;
                        text-align: center;
                    }
                input, #hotel-search-btn {
                    font-size: 20px;
                    padding: 16px;
                    background: rgba(255, 255, 255, .9);
                    border: transparent;
                    box-shadow: 0 0 0 1px rgba(255,255,255,0.1);
                }
                input:focus {
                    background: rgba(243,242,242,.9);
                }
                input:hover {
                    background: rgba(243,242,242,.8);
                }
                #hotel-search-btn {
                    background: @dark-red;
                    color: white;
                    width: 12.8%;
                    border: trasparent;
                    box-shadow:none;
                    margin-top: -5px;
                    &:hover {
                        background: @bright-red;
                    }
                }
            }
        }
    }
    #tiles {
        .tile {
            width: 23.2%;
            .tile-body {
                h4 {
                    font-size: 18px;
                    margin-bottom: 0;
                }
                .facilities {
                    margin: 15px 0;
                }
                .standard {
                    li {
                        width: 15px;
                    }
                }
                .rooms-left { 
                    font-size: 10px;
                }
            }
            .tile-footer {
                    margin-top: 5px;
                    .view-tile {
                        padding: 3px 15px;
                }
                    .price {
                    font-size: 20px;
                    margin-top: 1px;
                }
            }
        }
    }
    #recommended-aside {
        h3 {
            font-size: 20px;
        }
    }
    #place-container {
        width: 77%;
        #place-summary-container {
            #facilities-div {
                ul {
                    li {
                        font-size: 18px;
                    }
                }
            }
            #place-mini-gallery {
                ul {
                    li {
                            width: 14.9%;
                            height: 75px;
                            img {
                                width: 100%;
                                height: 65px;
                            }
                        }
                    }
                }
            }
        .recommended-block {
            ul {
                width: 90%;
                li {
                    img {
                        width: 100px;
                        height: 85px;
                    }
                    a {
                        font-size: 16px;
                        width: 59%;
                    }
                    .recommended-stars {
                        width: 50%;
                        ul {
                            height: 23px;
                        }
                    }
                }
            }
        }
        .half-page-small {
            width: 58%;
            float: left;
        }
        .half-page {
            width: 40%;
            float: right;
        }
        .recommended-block {
            ul {
                width: 90%;
                li {
                    img {
                        width: 120px;
                        height: 90px;
                    }
                    a {
                        font-size: 18px;
                    }
                    .recommended-stars {
                        width: 50%;
                    }
                }
            }
        }
    }
}

@media (min-width:1500px) {
    #tiles {
        margin-top: 0.7%;
        .tile {
            width: 23.3%;
            .tile-body {
                h4 {
                    font-size: 20px;
                    margin-bottom: 0;
                }
                .facilities {
                    margin: 15px 0;
                }
                .standard {
                    li {
                        width: 15px;
                    }
                }
                .rooms-left { 
                    font-size: 12px;
                }
            }
            .tile-footer {
                    margin-top: 5px;
                    .view-tile {
                        padding: 3px 15px;
                }
                    .price {
                    font-size: 24px;
                    margin-top: 1px;
                }
            }
        }
    }
    #place-container {
        width: 77%;
        #place-summary-container {
            #place-mini-gallery {
                ul {
                    li {
                            width: 14.9%;
                            height: 90px;
                            img {
                                width: 100%;
                                height: 80px;
                            }
                        }
                    }
                }
            #facilities-div {
                ul {
                    li {
                        font-size: 20px;
                    }
                }
            }
        }
        .half-page-small {
            width: 58%;
            float: left;
        }
        .half-page {
            width: 40%;
            float: right;
        }
        .recommended-block {
            ul {
                width: 90%;
                li {
                    img {
                        width: 140px;
                        height: 100px;
                    }
                    a {
                        font-size: 18px;
                        width: 60%;
                    }
                    .recommended-stars {
                        width: 50%;
                    }
                }
            }
        }
    }
}