body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}
#topbar {
  background: #a60911;
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
}
#sidebar {
  background: #a60911;
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 60px;
  height: 100%;
}
#main-container {
  background: #f3f2f2;
  margin-left: 60px;
  position: absolute;
  width: 100%;
}
#main-inner-container {
  position: relative;
  width: 100%;
}
#cover-photo {
  background: url('../img/header.jpg');
  background-size: 100%;
  width: 100%;
  height: 550px;
}
#explore-nav {
  background: white;
  border-bottom: 3px solid #eae9e7;
  height: 60px;
  margin-left: -60px;
  width: 100%;
  position: relative;
}
#explore-nav h3 {
  color: #c51b20;
  float: left;
  font-weight: 200;
  font-size: 28px;
  margin: 14px 15px;
  margin-left: 74px;
}
#explore-nav ul {
  font-size: 12px;
  position: absolute;
  margin-top: 20px;
  margin-right: -5px;
  right: 0;
}
#explore-nav ul .sort-by-label {
  font-weight: 400;
  color: #aaaaaa;
  margin-right: 5px;
}
#explore-nav ul li {
  float: left;
}
#explore-nav ul li a {
  color: #4d4d49;
  padding: 20px 5px;
  margin-left: 5px;
}
#explore-nav ul li a:hover {
  color: #4d4d49;
  text-decoration: none;
}
#tiles {
  margin: 1%;
  margin-top: 16px;
  width: 96.7%;
  position: relative;
}
#tiles .tile {
  position: relative;
  margin: 0.65%;
  float: left;
  width: 24%;
  background: white;
  border: 1px solid #EAE6DF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}
#tiles .tile img {
  width: 100%;
}
#tiles .tile .offer-tag {
  position: absolute;
  font-size: 100px;
  z-index: 100;
  top: -25px;
  left: -5px;
  color: #4d90fe;
}
#tiles .tile .offer-tag .offer-percent {
  color: white;
  position: absolute;
  -webkit-transform: rotate(46deg);
  -moz-transform: rotate(46deg);
  -moz-transform: skewx(46deg) translatex(150px);
  -o-transform: rotate(46deg);
  -ms-transform: rotate(46deg);
  left: 27px;
  top: 38px;
  font-size: 16px;
}
#tiles .tile .offer-tag .offer-percent .number {
  font-size: 24px;
}
#tiles .tile .tile-body {
  margin: 20px 15px;
}
#tiles .tile .tile-body h4 {
  letter-spacing: 1px;
  font-size: 22px;
  font-weight: 200;
  margin-bottom: 5px;
}
#tiles .tile .tile-body .facilities {
  color: #C3BDBA;
  margin: 20px 0;
}
#tiles .tile .tile-body .facilities ul li {
  float: left;
  margin-right: 10px;
}
#tiles .tile .tile-body .standard {
  clear: left;
  float: left;
  margin-top: 15px;
}
#tiles .tile .tile-body .standard li {
  float: left;
  width: 20px;
  margin-right: 5px;
}
#tiles .tile .tile-body .rooms-left {
  font-size: 12px;
  letter-spacing: 1px;
  color: #c3bdba;
  font-weight: 100;
  float: right;
  margin-top: 20px;
}
#tiles .tile .tile-footer {
  margin: 10px 15px;
  padding-bottom: 25px;
}
#tiles .tile .tile-footer .price {
  color: #c51b20;
  font-size: 26px;
  font-weight: 100;
}
#tiles .tile .tile-footer .view-tile {
  color: #473f46;
  font-weight: 600;
  border: 1px solid #eae9e7;
  padding: 7px 15px;
}
.clear {
  clear: both;
}
@media (max-width: 480px) {
  #tiles {
    width: 100%;
  }
  #tiles .tile {
    width: 90.5%;
    margin: 1%;
    margin-top: 0;
    margin-left: 4%;
    margin-right: 2%;
  }
  #explore-nav {
    margin-left: 0px;
  }
  #main-container {
    margin-left: 0%;
    margin-top: 45px;
  }
  #topbar {
    height: 45px;
    display: block;
  }
  #sidebar {
    display: none;
  }
  #cover-photo {
    height: 150px;
  }
  #explore-nav h3 {
    font-size: 22px;
    margin: 18px 15px;
  }
}
@media (min-width: 480px) and (max-width: 594px) {
  #main-container {
    margin-left: 0;
    margin-top: 35px;
  }
  #explore-nav {
    margin-left: 0px;
  }
  #topbar {
    height: 35px;
    display: block;
  }
  #tiles {
    width: 100%;
  }
  #tiles .tile {
    width: 43.4%;
    margin: 1%;
    margin-top: 0;
    margin-left: 4%;
    margin-right: 2%;
  }
  #sidebar {
    display: none;
  }
  #cover-photo {
    height: 200px;
  }
  #explore-nav h3 {
    font-size: 24px;
    margin: 18px 15px;
  }
}
@media (min-width: 594px) and (max-width: 768px) {
  #main-container {
    margin-left: 0;
    margin-top: 40px;
  }
  #explore-nav {
    margin-left: 0px;
  }
  #topbar {
    display: block;
  }
  #tiles {
    width: 100%;
  }
  #tiles .tile {
    width: 44%;
  }
  #sidebar {
    display: none;
  }
  #cover-photo {
    height: 400px;
  }
  #explore-nav h3 {
    font-size: 22px;
    margin: 18px 15px;
  }
}
@media (min-width: 698px) and (max-width: 980px) {
  #main-container {
    margin-left: 0;
    margin-top: 40px;
  }
  #explore-nav {
    margin-left: 0px;
  }
  #topbar {
    display: block;
  }
  #sidebar {
    display: none;
  }
  #tiles {
    width: 100%;
  }
  #tiles .tile {
    width: 29.76%;
  }
  #cover-photo {
    height: 400px;
  }
  #explore-nav h3 {
    font-size: 26px;
    margin: 16px 15px;
  }
}
@media (min-width: 980px) and (max-width: 1090px) {
  #tiles .tile {
    width: 29.25%;
  }
}
@media (min-width: 1090px) and (max-width: 1280px) {
  #tiles .tile {
    width: 22.05%;
  }
}
@media (min-width: 1281px) {
  #tiles .tile {
    width: 22.35%;
  }
}
@media (min-width: 1500px) {
  #tiles .tile {
    width: 22.95%;
  }
}
