<div class="animated fadeInUp">
	<h3 class="page-headings">Photos</h3>
	<section id="photo-albums-container" class="row">
		<div class="album-tile col-md-4" ng-repeat="album in hotel.albums">
			<div class="album-tile-inner animated fadeInDown">
				<a href="#/p/{{hotel.url}}/photos/{{album.id}}">
					<img src="{{album.cover}}" class="img-responsive">
				</a>
				<div class="album-tile-footer">
					<a href="#/p/{{hotel.url}}/photos/{{album.id}}"><h4>{{album.name}}</h4></a>
					<p>{{album.photos}} photos</p>
				</div>
			</div>
		</div>
	</section>
</div>