<div class="animated fadeInUp">
	<h3 class="page-headings">Reviews</h3>
	<p>
		Minimum purchase of any two pastas, baked pastas or entrées required, excluding tax, tip or gratuity. Valid for Buca Small® or Buca Large®. Not valid with any other offers, discounts or 4 Eat For $40. Excludes pizza and lunch Items. One coupon per visit, per table. Unauthorized internet distribution, replication or resale is strictly prohibited. No cash value or return. Excludes banquet and group menus, alcohol, merchandise and purchase of gift cards. Valid for dine in only. Expires 9/6/13.
	</p>
</div>