    <nav id="explore-nav">
        <h3>Hotels</h3>
        <ul id="sort-menu" class="list-unstyled">
            <li class="sort-by-label">Sort By: </li>
            <li><a href="#" prevent>Featured</a></li>
            <li><a href="#" prevent>By Rating</a></li>
            <li><a href="#" prevent>By Price</a></li>
            <li><a href="#" ng-click="activateFilterMenu();" prevent><i class="icon-plus"></i></a></li>
        </ul>
        <div class="filter-menu">
            <h4>Choose one or more filters</h4>
            <form id="hotelSearchFiltersForm">
                <ul class="list-unstyled">
                    <li>
                        <button type="button" class="btn" ng-model="hotelSearchFiltersForm.wifi" btn-checkbox>
                            <i class="icon-rss"></i> WiFi<i class="filter-check color icon-ok"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn" ng-model="hotelSearchFiltersForm.breakfast" btn-checkbox>
                            <i class="icon-coffee"></i> Breakfast<i class="filter-check color icon-ok"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn" ng-model="hotelSearchFiltersForm.spa" btn-checkbox>
                            <i class="icon-food"></i> Spa<i class="filter-check color icon-ok"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn" ng-model="hotelSearchFiltersForm.beachAccess" btn-checkbox>
                            <i class="icon-food"></i> Beach Access<i class="filter-check color icon-ok"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn" ng-model="hotelSearchFiltersForm.pool" btn-checkbox>
                            <i class="icon-rss"></i> Pool<i class="filter-check color icon-ok"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn" ng-model="hotelSearchFiltersForm.airportShuttle" btn-checkbox>
                            <i class="icon-coffee"></i> Airport Shuttle<i class="filter-check color icon-ok"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn" ng-model="hotelSearchFiltersForm.restaurant" btn-checkbox>
                            <i class="icon-food"></i> Restaurant<i class="filter-check color icon-ok"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn" ng-model="hotelSearchFiltersForm.bar" btn-checkbox>
                            <i class="icon-rss"></i> Bar<i class="filter-check color icon-ok"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn" ng-model="hotelSearchFiltersForm.coffeeShop" btn-checkbox>
                            <i class="icon-rss"></i> Coffee Shop<i class="filter-check color icon-ok"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn" ng-model="hotelSearchFiltersForm.noSmoking" btn-checkbox>
                            <i class="icon-coffee"></i> No Smoking<i class="filter-check color icon-ok"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn" ng-model="hotelSearchFiltersForm.petFriendly" btn-checkbox>
                            <i class="icon-food"></i> Pet Friendly<i class="filter-check color icon-ok"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn" ng-model="hotelSearchFiltersForm.jacuzzi" btn-checkbox>
                            <i class="icon-food"></i> Jacuzzi<i class="filter-check color icon-ok"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn" ng-model="hotelSearchFiltersForm.laundry" btn-checkbox>
                            <i class="icon-food"></i> Laundry<i class="filter-check color icon-ok"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn" ng-model="hotelSearchFiltersForm.miniBar" btn-checkbox>
                            <i class="icon-food"></i> Mini Bar<i class="filter-check color icon-ok"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn" ng-model="hotelSearchFiltersForm.parking" btn-checkbox>
                            <i class="icon-food"></i> Parking<i class="filter-check color icon-ok"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn" ng-model="hotelSearchFiltersForm.roomService" btn-checkbox>
                            <i class="icon-food"></i> Room Service<i class="filter-check color icon-ok"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn" ng-model="hotelSearchFiltersForm.sauna" btn-checkbox>
                            <i class="icon-food"></i> Sauna<i class="filter-check color icon-ok"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn" ng-model="hotelSearchFiltersForm.scubaDiving" btn-checkbox>
                            <i class="icon-food"></i> Scuba Diving<i class="filter-check color icon-ok"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn" ng-model="hotelSearchFiltersForm.snorkeling" btn-checkbox>
                            <i class="icon-food"></i> Snorkeling<i class="filter-check color icon-ok"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn" ng-model="hotelSearchFiltersForm.waterSkiing" btn-checkbox>
                            <i class="icon-food"></i> Water Skiing<i class="filter-check color icon-ok"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn" ng-model="hotelSearchFiltersForm.windSurfing" btn-checkbox>
                            <i class="icon-food"></i> Wind Surfing<i class="filter-check color icon-ok"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn" ng-model="hotelSearchFiltersForm.tennis" btn-checkbox>
                            <i class="icon-food"></i> Tennis<i class="filter-check color icon-ok"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn" ng-model="hotelSearchFiltersForm.golf" btn-checkbox>
                            <i class="icon-food"></i> Golf<i class="filter-check color icon-ok"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn" ng-model="hotelSearchFiltersForm.weddingPlan" btn-checkbox>
                            <i class="icon-food"></i> Wedding Plan<i class="filter-check color icon-ok"></i>
                        </button>
                    </li>
                    <a class="btn btn-small blu-btn pull-left filter-btns" ng-click="applyHotelFilters();">Apply Filters</a><a class="btn btn-small pull-right filter-btns">Clear Filters</a>
                    <br class="clear">
                </ul>
            </form>
            <br class="clear">
        </div>
    </nav>
    <div id="tiles">
        <article class="tile" ng-repeat="hotel in hotels">
            <img src="{{hotel.img}}">
            <div class="offer-tag">
                    <span ng-show="hotel.offer > 0" class="glyphicon glyphicon-tag"><span class="offer-percent">discount<br><span class="number">{{hotel.offer}}%</span></span></span>
            </div>
            <div class="tile-body">
                <h4><a ng-href="#/p/{{hotel.url}}/"/>{{hotel.name}}</a></h4>
                <p class="hotel-location">Male', Maldives</p>
                <div class="facilities">
                    <!--<ul class="list-unstyled">
                        <li ng-show="hotel.facilities[0].wifi" class="ng-hide">
                            <span class="glyphicon glyphicon-cutlery"></span>
                        </li>
                        <li ng-show="hotel.facilities[0].breakfast" class="ng-hide">
                            <span class="glyphicon glyphicon-cutlery"></span>
                        </li>
                        <li ng-show="hotel.facilities[0].spa" class="ng-hide">
                            <span class="glyphicon glyphicon-cutlery"></span>
                        </li>
                        <li ng-show="hotel.facilities[0].beachAccess" class="ng-hide">
                            <span class="glyphicon glyphicon-cutlery"></span>
                        </li>
                        <li ng-show="hotel.facilities[0].pool" class="ng-hide">
                            <span class="glyphicon glyphicon-cutlery"></span>
                        </li>
                        <li ng-show="hotel.facilities[0].airportShuttle" class="ng-hide">
                            <span class="glyphicon glyphicon-cutlery"></span>
                        </li>
                        <li ng-show="hotel.facilities[0].restaurant" class="ng-hide">
                            <span class="glyphicon glyphicon-cutlery"></span>
                        </li>
                        <li ng-show="hotel.facilities[0].bar" class="ng-hide">
                            <span class="glyphicon glyphicon-cutlery"></span>
                        </li>
                        <li ng-show="hotel.facilities[0].coffeeShop" class="ng-hide">
                            <span class="glyphicon glyphicon-cutlery"></span>
                        </li>
                        <li ng-show="hotel.facilities[0].noSmoking" class="ng-hide">
                            <span class="glyphicon glyphicon-cutlery"></span>
                        </li>
                        <li ng-show="hotel.facilities[0].petFriendly" class="ng-hide">
                            <span class="glyphicon glyphicon-cutlery"></span>
                        </li>
                        <li ng-show="hotel.facilities[0].jacuzzi" class="ng-hide">
                            <span class="glyphicon glyphicon-cutlery"></span>
                        </li>
                        <li ng-show="hotel.facilities[0].laundry" class="ng-hide">
                            <span class="glyphicon glyphicon-cutlery"></span>
                        </li>
                        <li ng-show="hotel.facilities[0].miniBar" class="ng-hide">
                            <span class="glyphicon glyphicon-cutlery"></span>
                        </li>
                        <li ng-show="hotel.facilities[0].parking" class="ng-hide">
                            <span class="glyphicon glyphicon-cutlery"></span>
                        </li>
                        <li ng-show="hotel.facilities[0].roomService" class="ng-hide">
                            <span class="glyphicon glyphicon-cutlery"></span>
                        </li>
                        <li ng-show="hotel.facilities[0].sauna" class="ng-hide">
                            <span class="glyphicon glyphicon-cutlery"></span>
                        </li>
                        <li ng-show="hotel.facilities[0].scubaDiving" class="ng-hide">
                            <span class="glyphicon glyphicon-cutlery"></span>
                        </li>
                        <li ng-show="hotel.facilities[0].snorkeling" class="ng-hide">
                            <span class="glyphicon glyphicon-cutlery"></span>
                        </li>
                        <li ng-show="hotel.facilities[0].waterSkiing" class="ng-hide">
                            <span class="glyphicon glyphicon-cutlery"></span>
                        </li>
                        <li ng-show="hotel.facilities[0].windSurfing" class="ng-hide">
                            <span class="glyphicon glyphicon-cutlery"></span>
                        </li>
                        <li ng-show="hotel.facilities[0].tennis" class="ng-hide">
                            <span class="glyphicon glyphicon-cutlery"></span>
                        </li>
                        <li ng-show="hotel.facilities[0].golf" class="ng-hide">
                            <span class="glyphicon glyphicon-cutlery"></span>
                        </li>
                        <li ng-show="hotel.facilities[0].weddingPlan" class="ng-hide">
                            <span class="glyphicon glyphicon-cutlery"></span>
                        </li>
                    </ul>-->
                </div>
                <div class="standard">
                    <ul class="list-unstyled">
                        <li ng-repeat="star in hotel.standard"><img src="img/star.png"></li>
                    </ul>
                    <br class="clear">
                </div>
                <div class="rooms-left">{{hotel.roomsleft}} Rooms left</div>
            </div>
            <br class="clear">
            <div class="tile-footer">
                <a href="#" class="price pull-left">From {{hotel.price | number:2 | currency}}</a>
                <a href="#/p/{{hotel.url}}/" class="view-tile pull-right">View</a>
            </div>
            <br class="clear">
        </article>
        <br class="clear">
    </div>