<div fade-in>
                <div class="half-page-small">
					<div id="room-tiles">
						<ul class="list-unstyled">
							<li ng-repeat="room in hotel.rooms" class="animated fadeInDown">
								<span class="room-tile-price animated fadeInRight ">From <strong>{{room.price}}</strong></span>
								<h3>{{room.name}}</h3>
								<img src="{{room.image}}">
							</li>
							<br class="clear">
						</ul>
					</div>
					<h3>Summary</h3>
					<div id="summary-div" class="animated fadeInUp">
						{{hotel.summary}}
					</div>
					<br class="clear">
				</div>
				<div id="hotel-stats" class="half-page">
					<h3>Quick Facts</h3>
					<table class="table table-bordered" id="description_details" itemprop="breadcrumb">
				        <tbody>
				        	<tr>
				            	<td>Room type:</td>
				            	<td class="value">{{hotel.facts.roomType}}</td>
				            </tr>
				            <tr>
				            	<td>Bed type:</td>
				            	<td class="value">{{hotel.facts.bedType}}</td>
				            </tr>
				            <tr>
				            	<td>Accommodates:</td>
				            	<td class="value">{{hotel.facts.accommodates}}</td>
				            </tr>
				            <tr>
				            	<td>Bedrooms:</td>
				            	<td class="value">{{hotel.facts.bedrooms}}</td>
				            </tr>
				            <tr>
				            	<td>Minimum Stay:</td>
				            	<td class="value">{{hotel.facts.minimumStay}}</td>
				            </tr>
				            <tr>
				            	<td>Security Deposit:</td>
				             	<td class="value"><span id="security_deposit_price_string">${{hotel.facts.securityDeposit}}</span></td>
				            </tr>
				            <tr>
				            	<td>Check In:</td>
				            	<td class="value">{{hotel.facts.checkIn}}</td>
				            </tr>
				            <tr>
				            	<td>Check Out:</td>
				            	<td class="value">{{hotel.facts.checkOut}}</td>
				            </tr>
				            <tr>
				            	<td>Country:</td>
				            	<td class="value"><span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/s/United-States" itemprop="url"><span itemprop="title">{{hotel.facts.country}}</span></a></span></td>
				            </tr>
				            <tr>
				            	<td>City:</td>
				            	<td class="value"><span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/s/New-York--NY" itemprop="url"><span itemprop="title">{{hotel.facts.city}}</span></a></span></td>
				            </tr>
				            <tr>
				            	<td>Neighborhood:</td>
				            	<td class="value"><span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="https://www.airbnb.com/locations/new-york/nolita" data-neighborhood-id="486" itemprop="url"><span itemprop="title">{{hotel.facts.neighborhood}}</span></a></span></td>
				            </tr>
				            <tr>
				            	<td>Cancellation:</td>
				            	<td class="value"><a href="/home/cancellation_policies#moderate" data-popup="true" id="cancellation-policy">{{hotel.facts.cancellation}}</a></td>
				            </tr>
				        </tbody>
		        	</table>
	        	</div>
	        	<br class="clear">
	        	<div>
		        	{{hotel.information}}
	        	</div>
	        	<h3>On the Map</h3>
					<div id="map" ui-map="myMap" ui-options="mapOptions" class="map-canvas"></div>
					<br>
					<p>Nearby landmarks and places <a href="#">Vinegar Hill</a>, <a href="#">Cobble Hill</a>, <a href="#">DUMBO</a>, <a href="#">Boerum Hill</a>, <a href="#">Brooklyn Heights</a>, <a href="#">Brooklyn Navy Yard</a>, <a href="#">Fort Greene</a>, and <a href="#">Park Slope</a></p>
					<h3>Tags</h3>
					<div id="tag-div">
						<ul class="tag-item list-unstyled" ng-repeat="tag in hotel.tags">
							<li><a href="#">{{tag}}</a></li>
						</ul>
						<br class="clear">
					</div>
	        	<br class="clear">
	        	<div id="facilities-div">
				<h3>Facilities</h3>
				<div class="trip-icons">
					<ul class="list-unstyled">
						<li ng-repeat="facility in hotel.facilities">{{facility}}</li>
						<br class="clear">
					</ul>
				</div>
			</div>
	        <h3>Terms & Conditions</h3>
			<p ng-repeat="term in hotel.terms">{{term}}</p> 
</div>