    <section id="place-container" fade-in>
        <div id="place-cover-photo">
            <img id="home-main-cover-image" ng-src="{{mainImageUrl}}">
            <h1 id="place-name">{{hotel.name}}</h1>
            <p class="country"><i class="icon-map-marker"></i> {{hotel.location.city}}, {{hotel.location.country}}</p>
            <p class="country address">{{hotel.location.address}}</p>
            <div id="place-stars">
                    <ul class="list-unstyled">
                        <li><i class="icon-star-empty icon-2x"></i> </li>
                        <li><i class="icon-star-empty icon-2x"></i> </li>
                        <li><i class="icon-star-empty icon-2x"></i> </li>
                        <li><i class="icon-star-empty icon-2x"></i> </li>
                        <br class="clear">
                    </ul>
            </div>
            <div class="bottom-dark-fade"></div>
        </div>
        <div id="place-mini-gallery">
            <ul class="list-unstyled">
                <li ng-repeat="img in hotel.images">
                    <img ng-src="{{img}}" ng-click="setImage(img)">
                </li>
                <br class="clear">
            </ul>
        </div>
        <header id="place-header">
            <div id="place-header-detail-container" class="pull-left">
                <span id="main-price">From $150</span>
                <div></div>
                <div></div>
                    <div id="stat-btns">
                        <ul class="list-unstyled">
                            <li><a href="#" class="btn"><i class="icon-heart"></i></a></li>
                            <li><a href="#" class="btn"><i class="icon-bookmark"></i></a></li>
                            <li><a href="#" class="btn"><i class="icon-foursquare"></i></a></li>
                            <li><a href="#" class="btn">Write Review <i class="icon-chevron-right"></i></a></li>
                            <br class="clear">
                        </ul>
                    </div>
                    <div id="stat-numbers">
                        <ul class="list-unstyled">
                            <li><strong>{{hotel.interaction.reviews}}</strong> reviews</li>
                            <li><strong>{{hotel.interaction.favorites}}</strong> favorites</li>
                            <li><strong>{{hotel.interaction.followers}}</strong> following</li>
                            <li><strong>{{hotel.interaction.beenthere}}</strong> been there</li>
                            <br class="clear">
                        </ul>
                    </div>
                    <a class="place-head-question" href="#">Is the description of this hotel not correct?</a>
                    <br><a href="#">Would you like to suggest changes?</a>
                <br class="clear">
            </div>
            <div id="place-summary-container">
                <p>{{hotel.description}}</p>
                <div id="description-stats">
                    <div class="pull-left circle-sign">
                        95<small>%</small>
                    </div>
                    <p>
                        <strong>TripApp Verified</strong>
                        This hotel meets our standards
                    </p>
                    <div class="pull-left circle-sign">
                        95<small>%</small>
                    </div>
                    <p>
                        Recommended by 95% of 160 members
                    </p>
                </div>
            </div>
            <br class="clear">
        </header>
        <section id="place-body">
            <div class="left seventy">
                <div id="hotel-detail-view">
                    <nav id="place-nav">
                    <ul class="list-unstyled">
                        <li><a ng-href= "#/p/{{hotelId}}/" class="btn" prevent>About</a></li>
                        <li><a ng-href="#/p/{{hotelId}}/reviews" class="btn" prevent>Reviews</a></li>
                        <li><a ng-href="#/p/{{hotelId}}/photos/" class="btn" prevent>Photos</a></li>
                        <li><a ng-href="#/p/{{hotelId}}/calendar" class="btn">Calendar</a></li>
                        <a ng-href="#" class="btn pull-right">Choose Travel Dates</a>
                        <br class="clear">	
                    </ul>
                </nav>
                <br class="clear">
                <div ui-view></div>
            </div>
            <br class="clear">
        </section>
        </section>
    </section>
    <aside id="recommended-aside" class="pull-left">
        <div class="recommended-block">
            <h3>Recommended Hotels</h3>
            <div class="recommended-item delayone animated fadeInUpBig">
                <img src="http://lorempixel.com/209/144/city">
                <div class="recommended-item-body">
                    <a href="#">Club Faru</a>
                    <div class="place-stars">
                        <ul class="list-unstyled">
                            <li><img src="img/star.png"></li>
                            <li><img src="img/star.png"></li>
                            <li><img src="img/star.png"></li>
                            <li><img src="img/star.png"></li>
                            <li class="pull-right">Maldives</li>
                            <br class="clear">
                        </ul>
                    </div>
                    <p class="price">From $150</p>
                </div>
            </div>
            <div class="recommended-item delaytwo animated fadeInUpBig">
                <img src="http://lorempixel.com/209/144/animals">
                <div class="recommended-item-body">
                    <a href="#">Club Faru</a>
                    <div class="place-stars">
                        <ul class="list-unstyled">
                            <li><img src="img/star.png"></li>
                            <li><img src="img/star.png"></li>
                            <li><img src="img/star.png"></li>
                            <li><img src="img/star.png"></li>
                            <li class="pull-right">Maldives</li>
                            <br class="clear">
                        </ul>
                    </div>
                    <p class="price">From $150</p>
                </div>
            </div>
            <div class="recommended-item delaythree animated fadeInUpBig">
                <img src="http://lorempixel.com/209/144/nightlife">
                <div class="recommended-item-body">
                    <a href="#">Club Faru</a>
                    <div class="place-stars">
                        <ul class="list-unstyled">
                            <li><img src="img/star.png"></li>
                            <li><img src="img/star.png"></li>
                            <li><img src="img/star.png"></li>
                            <li><img src="img/star.png"></li>
                            <li class="pull-right">Maldives</li>
                            <br class="clear">
                        </ul>
                    </div>
                    <p class="price">From $150</p>
                </div>
            </div>
        </div>
        <div class="recommended-block">
            <h3>Recommended Hotels</h3>
            <div class="recommended-item delayone animated fadeInUpBig">
                <img src="http://lorempixel.com/209/144/animals">
                <div class="recommended-item-body">
                    <a href="#">Club Faru</a>
                    <div class="place-stars">
                        <ul class="list-unstyled">
                            <li><img src="img/star.png"></li>
                            <li><img src="img/star.png"></li>
                            <li><img src="img/star.png"></li>
                            <li><img src="img/star.png"></li>
                            <li class="pull-right">Maldives</li>
                            <br class="clear">
                        </ul>
                    </div>
                    <p class="price">From $150</p>
                </div>
            </div>
            <div class="recommended-item delaytwo animated fadeInUpBig">
                <img src="http://lorempixel.com/209/144/fashion">
                <div class="recommended-item-body">
                    <a href="#">Club Faru</a>
                    <div class="place-stars">
                        <ul class="list-unstyled">
                            <li><img src="img/star.png"></li>
                            <li><img src="img/star.png"></li>
                            <li><img src="img/star.png"></li>
                            <li><img src="img/star.png"></li>
                            <li class="pull-right">Maldives</li>
                            <br class="clear">
                        </ul>
                    </div>
                    <p class="price">From $150</p>
                </div>
            </div>
            <div class="recommended-item delaythree animated fadeInUpBig">
                <img src="http://lorempixel.com/209/144/food">
                <div class="recommended-item-body">
                    <a href="#">Club Faru</a>
                    <div class="place-stars">
                        <ul class="list-unstyled">
                            <li><img src="img/star.png"></li>
                            <li><img src="img/star.png"></li>
                            <li><img src="img/star.png"></li>
                            <li><img src="img/star.png"></li>
                            <li class="pull-right">Maldives</li>
                            <br class="clear">
                        </ul>
                    </div>
                    <p class="price">From $150</p>
                </div>
            </div>
        </div>
    </aside>
    <br class="clear">
<p>Copyright</p>