<div class="animated fadeInUp">
	<h3 class="page-headings">Photos</h3>
	<section id="photo-albums-container" class="row">
		<div class="album-tile col-md-2" ng-repeat="photo in photos">
			<div class="album-tile-inner">
				<a href="#/p/{{hotel.url}}/photos/{{photo.src}}">
					<img src="{{photo.src}}" class="img-responsive">
				</a>
			</div>
		</div>
	</section>
</div>