<h3>Choose Rooms</h3>
					<div id="rooms-inner-container">
						<ul class="list-unstyled">
							<li>
								<img src="http://upload.wikimedia.org/wikipedia/commons/5/56/Hotel-room-renaissance-columbus-ohio.jpg">
								<div class="room-body">
									<h4>Superior Room</h4>
									<h5>Bed choices:</h5>
									<ul class="list-unstyled bed-choices">
										<li>King Bed</li>
										<li>2 Twin Beds</li>
										<li>Rollaway bed</li>
										<br clas="clear">
									</ul>
									<br class="clear">
									<h5>Max:</h5>
									<p class="room-max">J K</p>
									<h5>Included:</h5>
									<p class="room-facilities">0 b</p>
									<p class="room-price">$392</p>
									<a href="#" class="btn">Book</a>
								</div>
							</li>
							<li>
								<img src="http://upload.wikimedia.org/wikipedia/commons/5/56/Hotel-room-renaissance-columbus-ohio.jpg">
								<div class="room-body">
									<h4>Superior Room</h4>
									<h5>Bed choices:</h5>
									<ul class="list-unstyled bed-choices">
										<li>King Bed</li>
										<li>2 Twin Beds</li>
										<li>Rollaway bed</li>
										<br clas="clear">
									</ul>
									<br class="clear">
									<h5>Max:</h5>
									<p class="room-max">J K</p>
									<h5>Included:</h5>
									<p class="room-facilities">0 b</p>
									<p class="room-price">$392</p>
									<a href="#" class="btn">Book</a>
								</div>
							</li>
							<li>
								<img src="http://upload.wikimedia.org/wikipedia/commons/5/56/Hotel-room-renaissance-columbus-ohio.jpg">
								<div class="room-body">
									<h4>Superior Room</h4>
									<h5>Bed choices:</h5>
									<ul class="list-unstyled bed-choices">
										<li>King Bed</li>
										<li>2 Twin Beds</li>
										<li>Rollaway bed</li>
										<br clas="clear">
									</ul>
									<br class="clear">
									<h5>Max:</h5>
									<p class="room-max">J K</p>
									<h5>Included:</h5>
									<p class="room-facilities">0 b</p>
									<p class="room-price">$392</p>
									<a href="#" class="btn">Book</a>
								</div>
							</li>
							<li>
								<img src="http://upload.wikimedia.org/wikipedia/commons/5/56/Hotel-room-renaissance-columbus-ohio.jpg">
								<div class="room-body">
									<h4>Superior Room</h4>
									<h5>Bed choices:</h5>
									<ul class="list-unstyled bed-choices">
										<li>King Bed</li>
										<li>2 Twin Beds</li>
										<li>Rollaway bed</li>
										<br clas="clear">
									</ul>
									<br class="clear">
									<h5>Max:</h5>
									<p class="room-max">J K</p>
									<h5>Included:</h5>
									<p class="room-facilities">0 b</p>
									<p class="room-price">$392</p>
									<a href="#" class="btn">Book</a>
								</div>
							</li>
							<li>
								<img src="http://upload.wikimedia.org/wikipedia/commons/5/56/Hotel-room-renaissance-columbus-ohio.jpg">
								<div class="room-body">
									<h4>Superior Room</h4>
									<h5>Bed choices:</h5>
									<ul class="list-unstyled bed-choices">
										<li>King Bed</li>
										<li>2 Twin Beds</li>
										<li>Rollaway bed</li>
										<br clas="clear">
									</ul>
									<br class="clear">
									<h5>Max:</h5>
									<p class="room-max">J K</p>
									<h5>Included:</h5>
									<p class="room-facilities">0 b</p>
									<p class="room-price">$392</p>
									<a href="#" class="btn">Book</a>
								</div>
							</li>
							<li>
								<img src="http://upload.wikimedia.org/wikipedia/commons/5/56/Hotel-room-renaissance-columbus-ohio.jpg">
								<div class="room-body">
									<h4>Superior Room</h4>
									<h5>Bed choices:</h5>
									<ul class="list-unstyled bed-choices">
										<li>King Bed</li>
										<li>2 Twin Beds</li>
										<li>Rollaway bed</li>
										<br clas="clear">
									</ul>
									<br class="clear">
									<h5>Max:</h5>
									<p class="room-max">J K</p>
									<h5>Included:</h5>
									<p class="room-facilities">0 b</p>
									<p class="room-price">$392</p>
									<a href="#" class="btn">Book</a>
								</div>
							</li>
						</ul>
					</div>