<div>
	<div id="rooms-container">
		<h3>Choose Rooms</h3>
		<div id="rooms-inner-container">
			<ul class="list-unstyled" id="room-option-list">
				<li ng-repeat="room in rooms">
					<div class="room-main-img-inner">
						<img class="room-main-img" src="{{room.images[0]}}">
						<ul class="list-unstyled room-mini-gallery">
							<li ng-repeat="image in room.images">
								<img src="{{image}}">
							</li>
						</ul>
					</div>
					<div class="room-body">
						<h4>{{room.name}}</h4>
						<h5>Bed choices:</h5>
						<ul class="list-unstyled bed-choices" ng-repeat="bedchoice in room.bedchoices">
							<li>{{bedchoice}}</li>
						</ul>
						<h5>Max:</h5>
						<p class="room-max">
							<span class="room-max-number">{{room.max.infants}}</span>J
							<span class="room-max-number">{{room.max.adults}}</span>K
						</p>
						<h5>Included:</h5>
						<p class="room-facilities1"><span ng-repeat="facility in room.included">{{facility}}, </span></p>
						<p class="room-price">${{room.price}}</p>
						<a href="#" class="btn">Book</a>
					</div>
				</li>
			</ul>
			<br class="clear">
		</div>
		<br class="clear">
	</div>
</div>