<header id="cover-photo" fade-in>
    <img id="cover-image" src="http://tripadvisorwatch.files.wordpress.com/2012/01/hotel.jpg">
    <header id="login-bar">
        <a href="#" id="fb"><i class="icon-facebook"></i> Login with Facebook</a>
    </header>
    <div id="hotel-search">
        <form>
            <input type="text" tooltip="Where do you want to go?" tooltip-trigger="focus" tooltip-placement="top" placeholder="Destination" id="hotel-destination-search" class="tools" name="hotel-destination-search" ng-model="selected" typeahead="country for country in countries | filter:$viewValue | limitTo:8">
            
            <input type="text" tooltip="When are you planning to go?" tooltip-trigger="focus" tooltip-placement="top" placeholder="Checkin" id="hotel-checkin-date" name="hotel-checkin-date">
            
            <input type="text" tooltip="How long are you planning on staying?" tooltip-trigger="focus" tooltip-placement="top" placeholder="Checkout" id="hotel-checkout-date" 

            datepicker-popup="dd-MMMM-yyyy" ng-model="dt" open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode, showWeeks)" ng-required="true" ng-controller="checkOutDateController">

            <span class="increment">
                <input type="text" placeholder="Rooms" tooltip="How many rooms do you need?" tooltip-trigger="focus" tooltip-placement="top" id="hotel-room-total" value="{{roomCount}}">
                <a href="#" prevent id="roomPlus" ng-click="incrementRoomCount()"><i class="icon-plus"></i></a>
                <a href="#" prevent id="roomMinus" ng-click="decrementRoomCount()"><i class="icon-minus"></i></a>
            </span>
            <span class="increment">
                <input type="text" placeholder="Persons" tooltip="How big is your travel party?" tooltip-trigger="focus" tooltip-placement="top" id="hotel-person-total" value="{{personCount}}">
                <a href="#" prevent id="personPlus" ng-click="incrementPersonCount()"><i class="icon-plus"></i></a>
                <a href="#" prevent id="personMinus" ng-click="decrementPersonCount()"><i class="icon-minus"></i></a>
            </span>
            <a href="#/hotels/search" class="btn" id="hotel-search-btn" ng-click="searchScroll();"><i class="icon-search"></i></a>
        </form>
    </div>
</header>
<section id="explore" ui-view>
</section>