<header id="cover-photo">
    <div id="hotel-search">
        <form></form>
    </div>
</header>
<section id="explore">
    <nav id="explore-nav">
    <h3>Restaurants</h3>
        <ul class="list-unstyled">
            <li class="sort-by-label">Sort By: </li>
            <li><a href="#"  ng-click="featuredrestaurants();">Featured</a></li>
            <li><a href="#">By Rating</a></li>
            <li><a href="#">By Price</a></li>
            <li><a href="#"><i class="icon-plus"></i></a></li>
        </ul>
    </nav>
    <div id="tiles">
        <article ng-cloak class="tile" ng-repeat="restaurant in restaurants">
            <img src="{{restaurant.img}}">
            <div class="offer-tag">
                    <span ng-show="restaurant.offer > 0" class="glyphicon glyphicon-tag"><span class="offer-percent">discount<br><span class="number">{{restaurant.offer}}%</span></span></span>
            </div>
            <div class="tile-body">
                <h4><a href="#">{{restaurant.name}}</a></h4>
                <div class="facilities">
                    <ul class="list-unstyled">
                        <li><span class="glyphicon glyphicon-cutlery"></span></li>
                        <li><span class="glyphicon glyphicon-glass"></span></li>
                        <li><span class="glyphicon glyphicon-phone-alt"></span></li>
                    </ul>
                </div>
            </div>
            <br class="clear">
            <div class="tile-footer">
                <a href="#" class="price pull-left">From {{restaurant.price | number:2 | currency}}</a>
                <a href="{{restaurant.url}}" class="view-tile pull-right">View</a>
            </div>
            <br class="clear">
        </article>
        <br class="clear">
    </div>
</section>