<section id="top-header">
	<div class="pull-right" id="user-settings-nav">
		<a href="#"><i class="icon-bell-alt icon"></i></a>
		<a href="#"><i class="icon-cog icon"></i></a>
	</div>
</section>
<section id="subpage" ui-view></section>
<p>Copyright</p>